ion-toolbar
{
    --background: #88038d;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .balance_content {
        background: #88038d;
        border-radius: 0px 0px 10% 10%;

      .balance {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 30px;
                margin: 5px 0;
            }
      }

      .balance-d {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 3vw;
                margin: 5px 0;
            }
      }
    }

ion-content
{
    --background: #b4b2ad;

.contain {
  margin: 0 0 8vw 0;
}


ion-item {
  --padding-start: 0px;
  --padding-end: 0px;
  --background: #ffffff;
  border-radius: 10px;
  border: 2px solid #88038d;
  margin: 10px 0px;
  h1 {
    color: #000000;
    margin-left: 50px;
  }
  .text {
    h6 {
      margin: 0px 0px 2px 0px;
      font-size: 15px;
    }
    ion-label {
      font-size: 11px;
      color: #000000;
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: row;
      margin: 0px 0px 0px 15px;
      ion-icon {
        font-size: 15px;
        color: rgb(0, 0, 0);
      }
    }
  }
  ion-buttons {
    margin: 0px;
    ion-button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      color: rgb(0, 0, 0);
    }
  }
}
}
