ion-content
{
    --background: #EAB355;

    .holder
    {
        img
        {
            height: 20vh;
        }
    }

    .details
    {
        border-bottom: #000000 1px solid;
        h5
        {
            color: var(--ion-color-light);
            font-family: 'CSBold';
            font-size: 18px;
            border-bottom: #000000 1px solid;
        }
        p
        {
            color: #ffffff;
            font-family: 'CSMedium';
            font-size: 15px;

            span
            {
                color: #000000;

            }
        }
    }



    .floatanimation1
    {
        animation: float 5s ease-in-out  infinite ;
    }


    @keyframes float
    {
        0%
        {
            transform: translateY(0px);
        }

        50%
        {
            transform: translateY(-20px);
        }

        100%
        {
            transform: translateY(0px);
        }
    }

    .btn-holder
    {
        margin-top: 10vw;
    }
    
}

