<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <div class="holder">

        <div class="details">
          <div class="ion-text-center">
            Transaction History
          </div>
          <h5>Transfer</h5>
          <p class="ion-text-wrap">Amount: <span>USD 5,000</span></p>
          <p class="ion-text-wrap">Balance: <span>USD 4,500</span></p>
          <p class="ion-text-wrap">Reference: <span>5467gf-gff5ew-hgg65d</span></p>
          <p class="ion-text-wrap">Summary: <span>Gift</span></p>
          <p class="ion-text-wrap">Sent <span>To: Tom</span></p>
          <p class="ion-text-wrap">Date: <span>May 21, 2022</span></p>
         <!-- <div class="ion-text-center">
            <ion-button (click)="dismiss()">
              Okay, Got it
            </ion-button> 
        </div> --> 
      </div>

      </div>
    </ion-row>
  </ion-grid>
</ion-content>
