<ion-header class="ion-no-border d-md-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Withdraw</ion-title>
     <ion-buttons slot="end">
       <ion-button color="dark">
         <ion-icon name="notifications"></ion-icon>
       </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<div style="backgroundColor: #EAB355;">
  <div class="profile_content ion-padding">
      <div class="profile">
        <ion-thumbnail>
          <ion-icon name="code-download-sharp"></ion-icon>
        </ion-thumbnail>
      </div>
    </div>
  </div>

<ion-content class="ion-padding-horizontal">
 <ion-grid fixed>
<ion-row class="ion-justify-content-center">
<div class="contain col-lg-6 col-md-10">

    <ion-buttons slot="start" class="d-none d-md-block">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  

    <div class="item">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label>Amount</ion-label>
              <ion-input type="text" placeholder="0.0"></ion-input>
                  <h6>Minimum is NGN500 and Maximum is NGN1,000,000</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <ion-button (click)="onConfirm()" class="content_button" expand="block">
    Proceed
  </ion-button>

                    </div>
                      </ion-row>
                      </ion-grid>
</ion-content>
