<ion-header class="ion-no-border d-md-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Withdraw</ion-title>
     <ion-buttons slot="end">
       <ion-button color="dark">
         <ion-icon name="notifications"></ion-icon>
       </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<div style="backgroundColor: #EAB355;">
  <div class="profile_content ion-padding">
      <div class="profile">
        <ion-thumbnail>
          <ion-icon name="code-download-sharp"></ion-icon>
        </ion-thumbnail>
      </div>
    </div>
  </div>

<ion-content class="ion-padding-horizontal">
 <ion-grid fixed>
<ion-row class="ion-justify-content-center">
<div class="contain col-lg-6 col-md-10">

    <ion-buttons slot="start" class="d-none d-md-block">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  
  

    <ion-grid style="height: 90%" [ngClass]="backdrop" *ngIf="sent" fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
        <div class="holder">
          <div class="sucess-msg">
            <div class="animation-holder  flex al-center jc-center">
              <img class="animate__animated animate__bounceInDown animate__slower" id="wallet" src="assets/imgs/walletonly.png" alt="">
            </div>

            <div class="success-holder ion-text-center">
              <h1 class="animate__animated animate__zoomIn animate__delay-2s ">Sent Successfully</h1>
              <p class="animate__animated animate__zoomIn animate__delay-3s">Your withdrawal has been sent and balance will be updated</p>
              <div class="btn-holder animate__animated  animate__zoomIn animate__delay-5s ion-text-center">
                <ion-button shape="round" (click)="goBack()">
                  Okay
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-grid>

    <div class="item" *ngIf="!sent">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label>Amount</ion-label>
              <ion-input type="text" placeholder="0.0"></ion-input>
                  <h6>Minimum is NGN500 and Maximum is NGN1,000,000</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
  <ion-button (click)="send()" class="content_button" expand="block">
    Proceed
  </ion-button>
  </div>


                    </div>
                      </ion-row>
                      </ion-grid>
</ion-content>
