ion-toolbar
{
    --background: #88038d;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .balance_content {
        background: #88038d;
        border-radius: 0px 0px 10% 10%;

      .balance {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 30px;
                margin: 5px 0;
            }
      }

      .balance-d {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 3vw;
                margin: 5px 0;
            }
      }
    }

ion-content
{
    --background: #b4b2ad;

.contain {
  margin: 0 0 8vw 0;
}


.the-list
{
    margin-top: 3vw;
    ion-item
    {
        --background: #88038d;
        --detail-icon-color: #ffffff;
        --detail-icon-opacity:1;
        border-radius: 10px;
        margin: 5px;
        ion-buttons {
          margin: 0px;
          ion-icon {
            color: #ffffff;
          }
        }
        .thumb
        {
            img
            {
                height: 16px;
            }
        }

        ion-label
        {
            color: #ffffff;
            font-family: 'CSMedium';
            font-size: 15px;
        }

        ion-toggle
        {
            --background-checked:#35C244;
        }
    }
}
}
