ion-toolbar
{
    --background: #88038d;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .balance_content {
      background: #88038d;
      border-radius: 0px 0px 10% 10%;

      .balance {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;

            h5
            {
                color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 8vw;
                margin: 5px 0;
            }
          }

      .balance-d {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;

            h5
            {
              color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 3vw;
                margin: 5px 0;
            }
          }
        }

ion-content
{
    --background: #b4b2ad;


    ion-searchbar {
      --background: transparent;
      --border-radius: 15px;
    }

    .section
    {
      background: #ffff;
      border-radius: 20px;
        .title
        {
          margin: 5px 0px;
          background: #88038d;
          border-radius: 20px 20px 0px 0px;
            h3
            {
              margin: 10px 20px;
              padding: 7px 0;
              color: #ffff;
              font-family: 'CSBook';
              font-size: 18px;

            }
        }
        .items {
          padding: 20px 20px;
        }

        ion-list
        {
            background: transparent;
            ion-item
            {
                --background: transparent;
                img
                {
                    height: 35px;
                }

                ion-label
                {
                    color: var(--ion-color-light);
                    font-family: 'CSMedium';
                }
            }
        }
    }
    ion-grid {
      ion-row {
        .limit {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            width: 100%;
            margin: 7px 0;
        }
        ion-col {
          h6 {
          color: #f32879;
          margin: 20px 0px -12px 0px;
          font-size: 12px;
          }
          ion-label {
            font-size: 15px;
            padding: 10px 0px 7px 10px;
          }
          ion-input {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.651);
            border-radius: 10px;
            --padding-start: 15px;
          }
        }
      }
    }

.contain {
  margin: 0 0 8vw 0;
}

    .btn-holder
    {
        margin-top: 20px;
        ion-button
        {
            --border-radius: 15px;
            font-family: "CSMedium";
            font-size: 18px;
            height: 3rem;
            width: 60%;
        }
    }
        ion-input
        {
            color: white;
            font-family: 'CSMedium';
            font-size: 15px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.651);
            border-radius: 10px;
        }

    .bottom-holder
    {
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
        margin: 0 auto;

    }
}
