ion-toolbar
{
    --background: #88038d;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .balance_content {
      background: #88038d;
      border-radius: 0px 0px 10% 10%;

      .balance {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;

            h5
            {
                color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 8vw;
                margin: 5px 0;
            }
          }

      .balance-d {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;

            h5
            {
              color: #ffffff;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 3vw;
                margin: 5px 0;
            }
          }
        }

ion-content
{
    --background: #b4b2ad;


    
    .nav_bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
      ion-icon {
        font-size: 13px;
      }
      ion-label {
        font-size: 11px;
        margin-left: 6px;
      }
      ion-buttons {
        ion-button {
          border-radius: 10px;
          background: #000000;
          color: #ffffff;
          width: 25vw;
        }
      }
    }
    
        .nav_bar-d {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 10px 0;
          ion-icon {
            font-size: 13px;
          }
          ion-label {
            font-size: 11px;
            margin-left: 6px;
          }
          ion-buttons {
            ion-button {
              border-radius: 10px;
              background: #000000;
              color: #ffffff;
              width: 7vw;
            }
          }
        }

    .contain {
      margin: 0 0 8vw 0;
    }

    .portfolio
    {
      .text
      {
        h2
        {
          font-size: 15px;
          font-family: 'CSMedium';
        }
      }
        ion-item
        {

            --background: #88038d;
            --border-radius: 20px;
            margin: 8px 0;

            .thumb
            {
                border-radius: 15px;
                height: 50px;
                width: 50px;
                margin: 10px 10px 10px 0;
            }


            ion-label
            {

                h2
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 12px;
                    margin: 0;
                }
                h5
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 10px;
                    margin: 0;
                }
            }

            .end-slot2
            {
                margin-left: 10px;
                h2
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 16px;
                    margin: 0;
                }



                h5
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 12px;
                    margin: 0;
                }
            }
        }
    }

    ion-searchbar {
      --background: transparent;
      --border-radius: 15px;
    }

}
