ion-toolbar
{
    --background: #06038D;
    ion-icon
    {
        --color: #ffffff;
    }

    ion-title
    {
        --color: #ffffff;
        font-family: 'CSMedium';
        font-size: 15px;
    }
}

    .profile_content {
      background: #06038D;
      border-radius: 0px 0px 100% 100%;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ion-buttons {
          margin: 0px;
          --border-radius: 50%;
          ion-button {
            margin: 0px;
            height: 40px;
            width: 40px;
            background: #ffff;
            border-radius: 50%;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 8vw;
                margin: 5px 0;
            }
        .text {
          width: 100%;
          margin: 20px 0px;
          ion-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-col {
              h6 {
                font-size: 20px;
                margin: 2px;
              }
              ion-label {
                font-size: 13px;
                color: gray;
              }
            }
          }
        }
      }

      .profilee {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin: 5vw 0;
        ion-thumbnail {
          height: 100px;
          width: 100px;
          --border-radius: 50%;
          padding: 5px;
          ion-icon {
            color: #ffffff;
            width: 100px;
            height: 100px
          }
        }

            h5
            {
                color: #9496BA;
                font-family: 'CSMedium';
                font-size: 15px;
                margin: 5px 0;
            }

            h1
            {
                color: #FFFF;
                font-family: 'CSMedium';
                font-size: 3vw;
                margin: 5px 0;
            }
        .text {
          width: 100%;
          margin: 20px 0px;
          ion-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-col {
              h6 {
                font-size: 20px;
                margin: 2px;
              }
              ion-label {
                font-size: 13px;
                color: gray;
              }
            }
          }
        }
      }
    }

ion-content
{
    --background: #EAB355;



        .conv {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 10px 0;
          ion-icon {
            font-size: 13px;
          }
          ion-label {
            font-size: 11px;
            margin-left: 6px;
          }
          ion-buttons {
            ion-button {
              border-radius: 10px;
              background: #ffffff;
              color: #000000;
              width: 25vw;
            }
          }
          .icn {
            position: absolute;
            top: 32px;
            right: 10px;
            ion-button {
              border-radius: 30px;
              background: linear-gradient(rgb(255, 145, 218), rgb(255, 9, 202));
              height: 13px;
              width: 13px;
              font-weight: bold;
              font-size: 10px;
            }
          }
        }
            .convv {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              margin: 10px 0;
              ion-icon {
                font-size: 13px;
              }
              ion-label {
                font-size: 11px;
                margin-left: 6px;
              }
              ion-buttons {
                ion-button {
                  border-radius: 10px;
                  background: #ffffff;
                  color: #000000;
                  width: 7vw;
                }
              }
              .icn {
                position: absolute;
                top: 32px;
                right: 10px;
                ion-button {
                  border-radius: 30px;
                  background: linear-gradient(rgb(255, 145, 218), rgb(255, 9, 202));
                  height: 13px;
                  width: 13px;
                  font-weight: bold;
                  font-size: 10px;
                }
              }
            }

    .contain {
      margin: 0 0 8vw 0;
    }

    .top-holder
    {
        h5
        {
            color: #9496BA;
            font-family: 'CSMedium';
            font-size: 15px;
            margin: 5px 0;
        }

        h1
        {
            color: #FFFF;
            font-family: 'CSMedium';
            font-size: 30px;
            margin: 5px 0;
        }

        .top-btns-holder
        {
            ion-item
            {
                --background: #ffffff;
                --border-radius: 15px;
                margin: 0 0 5px 0;
                .thumb
                {
                    background: #0066FF;
                    border-radius: 11px;
                    height: 34px;
                    width: 34px;
                    margin: 5px 0 5px 0 ;
                }

                ion-label
                {
                    color: var(--ion-color-light);
                    font-family: 'CSMedium';
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }

    .seg-holder
    {
        ion-segment
        {

            border-radius: 12px;

            ion-segment-button
            {
                --background: #2b2e46;
                --background-checked: var(--ion-color-primary);
                --border-radius: 12px;
                --color: #767abd;
                --color-checked:var(--ion-color-light);
                font-family: 'CSMedium';
                font-size: 14px;
                --indicator-height:0;
                text-transform: none;
                margin: 0 10px;
            }
        }
    }

    .portfolio
    {
        ion-item
        {
          ion-icon {
            margin-right: -20px;
          }

            --background: var(--ion-color-primary);
            --border-radius: 20px;
            margin: 8px 0;

            .thumb
            {
                border-radius: 15px;
                height: 50px;
                width: 50px;
                margin: 10px 0px 0px 0;
            }


            ion-label
            {

                h2
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 15px;
                    margin: 0;
                }

                .up
                {
                    h5,ion-icon
                    {
                        color: #58E45D;
                    }
                }

                .down
                {
                    h5,ion-icon
                    {
                        color: #F03737;
                    }
                }



                h5
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 12px;
                    margin: 0;
                }
            }

            .end-slot1
            {
                img
                {
                    height: 10vw;
                }
            }

            .end-slot2
            {
                margin-left: 10px;
                h2
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 16px;
                    margin: 0;
                }



                h5
                {
                    color: #ffffff;
                    font-family: 'CSMedium';
                    font-size: 12px;
                    margin: 0;
                }
            }
        }
    }


}
